$orange: #f16f13;

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(-180deg, white, whitesmoke, whitesmoke, white, white);
}

@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-Bold.ttf);
}

@font-face {
    font-weight: 1000;
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-ExtraBold.ttf);
}

@font-face {
    font-style: italic;
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-Italic.ttf);
}

@font-face {
    font-style: italic;
    font-weight: bold;
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-BoldItalic.ttf);
}

@font-face {
    font-weight: bold;
    font-style: italic;
    font-family: OpenSans;
    src: url(assets/fonts/opensans/OpenSansHebrew-Bold.ttf);
}

* {
    font-family: OpenSans;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-item {
        padding: .5rem;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .left {
        display: flex;
        align-items: center;
        column-gap: .75rem;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

}

.header {
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    height: 400px;
    width: 100%;
    background: linear-gradient(90deg,
            rgb(2, 47, 2),
            rgb(2, 58, 2),
            rgb(2, 47, 2));
}


.shad-1 {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.main-section {
    position: relative;
    margin: 2rem;
    height: 300px;
    overflow-x: hidden;

    h2 {
        margin: 0px;
        color: white;
    }

    h1 {
        margin: 0px;
        font-size: 3rem;
        font-weight: bold;

        color: white;

        @media only screen and (max-width:500px) {
            max-width: 250px;
            font-size: 2.35rem;
        }
    }

    b {

        color: darkorange;
        font-weight: bold;
    }

}

.selected {
    color: $orange !important;
}

.logo {
    max-height: 45px;
    max-width: 100%;

}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


.bg-head {
    width: 100%;
    height: 400px;
    display: block;
    z-index: 1000;
    background-image: url(assets/images/grid.png), linear-gradient(45deg, rgba(21, 255, 0, 0.5), rgb(255, 0, 0, 0.05));
    opacity: 0.1;
    color: wheat;
}

.bg-head-2 {
    width: 100%;
    height: 400px;
    display: block;
    z-index: 1000;
    background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
    color: wheat;
}


.buttons-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 50%;
    margin-top: 2rem;
    margin-right: auto;
    max-width: 50%;

    @media only screen and (min-width: 1200px) {
        margin-left: 0%;
        transition: all .2 ease-in-out;
        gap: 20%;

    }
}


.button-primary {
    background-color: $orange;
    color: white;
    font-weight: bold;
    border: 1px solid $orange;
    min-width: max-content;
    margin-top:-1rem;
    font-size: 1.35rem;
    padding: .5rem;
    text-decoration: none;
    padding-inline: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    @media only screen and (min-width:600px) {
        margin-top:1rem;
    }
    @media only screen and (max-width:500px) {
        font-size: 1rem;
        margin-top:.25rem;
    }
}

.rank-img {
    background: white;
    padding: 1rem;
    max-width: min(700px, 100%);
    min-height: 150px;
    object-fit: contain;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 32px;
}
.rank-img-2 {
    background: white;
    padding: 1rem;
    max-width: min(750px, 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 32px;
}

.rank-gallery-section {
    margin-inline: auto;
    padding: 32px;
    overflow: hidden;
    display: grid;
    place-items: center;
    gap: 2rem;

}

@keyframes anim-slideshow {
    0%, 100% {
        transform: translateX(max-content);
    }
    50% {
        transform: translateX(500%);
    }
}
.tech-slideshow {
    padding-bottom: 2rem;
    width: 100%;
    justify-content: space-around;
    overflow-x: hidden;
    margin-top: -4.5rem;

    .slide {
        place-items: center;
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        gap: 30%;

        animation: anim-slideshow 120s linear infinite forwards;
        grid-template-columns: repeat(12, 1fr);

        @media only screen and (max-width:450px) {
            gap: 20%;
        }
    }
    div {
        width: max-content;
    }
}

.tech { 
    width: 40px;
    object-fit: contain;
    height: 40px;
}
.tech-small {
    width: 35px;
    object-fit: contain;
    transform: translateX(-80%);
    height: 35px;  
} 
.tech-smaller {
    width: 28px;
    object-fit: contain;
    transform: translateX(-80%);
    height: 28px;  
} 

.tech-big {
    width: 45px;
    object-fit: contain;
    height: 45px;
}

.invert {
    filter: invert(1);
}

.about {
    overflow-x: hidden;
    font-weight: bold;
    color: rgb(75, 75, 75);
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    b  {
        color: lightgray;

    }
}

.languages {
    display: grid;
    gap: 1rem;
    color:gray;
    grid-template-columns: 1fr 1fr;
    div {
        font-size: 14px;
        border-bottom: 1px solid lightgray;
        margin-inline: auto;
        padding-bottom: 4px;
        width: fit-content;
    }
}

@keyframes rotate-icon {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(35deg);
    }
}

.head-icon {
    width: fit-content;
    position: absolute;
    opacity: 0.1 !important;
    left:32px;
    bottom: -400px;
    filter: invert(10) brightness(200%);
    animation: rotate-icon 5s linear forwards infinite alternate;
}
.head-icon-2 {
    width: fit-content;
    position: absolute;
    opacity: 0.1;
    width: 200px;
    height: 200px;
    right:150px;
    bottom: -175px;
    filter: invert(10) brightness(200%);
}